@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-editor-class {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(231, 228, 228);
}

/* Comment */
.comment-body p {
  padding-bottom: 5px;
  font-size: 1rem;
  line-height: 1.25;
}

.comment-body h1,
h2 {
  font-weight: bold;
}

/* Collection */
.collection-grid-container {
  --gap-length: 1rem;
  --row-height: 240px;
  --column-width: 300px;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
  grid-auto-rows: var(--row-height);
  grid-gap: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .collection-grid {
    grid-template-columns: repeat(auto-fit, minmax(131px, 1fr));
    grid-auto-rows: calc(var(--row-height) - 5vh);
    grid-gap: 5px;
    margin: 10px 0;
  }
}

.collection-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.collection-img-span2 {
  grid-row-end: span 2;
  width: 100%;
  height: 100%;
}

.collection-img-col2 {
  grid-column-start: 2;
  width: 100%;
  height: 100%;
}

/* Record Image Grid */

.record-grid-container {
  --gap-length: 2px;
  --row-height: 200px;
  --column-width: 220px;
}

.record-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
  grid-auto-rows: var(--row-height);
  grid-gap: var(--gap-length);
  margin: 20px 0;
}

@media only screen and (max-width: 600px) {
  .record-grid {
    grid-template-columns: repeat(auto-fit, minmax(131px, 1fr));
    grid-auto-rows: calc(var(--row-height) - 5vh);
    margin: 10px 0;
  }
}

.record-img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.record-img-span2 {
  grid-row-end: span 2;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.bg-blurred {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Home Page Heading (LATEST) */
.heading {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 1.2;
  color: #343a40;
  font-weight: 400;
}

.thumbnail-title {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #343a40;
  font-weight: 500;
}

.playfair {
  font-family: "Playfair Display", serif;
}

/* Main Record Title */
.nav-title {
  font-family: "Playfair Display", serif;
  font-size: 1.7rem;
  line-height: 1.2;
  color: #343a40;
  font-weight: 600;
}

.record-details > .record-stats > h1 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 1.2;
  color: #343a40;
  font-weight: 400;
}

/* For travel, about, general note headings */
.record-details > h1 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 1.2;
  color: #343a40;
  font-weight: 400;
}

/* Record Stat Icon ULS */
.record-details > .record-stats > ul > li:nth-of-type(1) {
  list-style: none;
  font-family: monospace;
  background-image: url("../public/camp.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position-y: 5px;
  /* background-position: left center; */
  padding-left: 1px;
  /* margin-top: 15px; */
  margin: 6px 0 0px 0px;
  position: relative;
}

.record-details > .record-stats > ul > li:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 4px;
}

.record-details > .record-stats > ul > li:nth-of-type(2) {
  list-style: none;
  font-family: monospace;
  font-size: 15px;
  background-image: url("../public/hiker.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  padding-left: 1px;
  margin: 0 0 0px 0px;
}

.record-details > .record-stats > ul > li:nth-of-type(2)::before {
  content: "";
  display: inline-block;
  width: 15px;
  margin-right: 5px;
}

.record-details > .record-stats > ul > li:nth-of-type(3) {
  list-style: none;
  font-family: monospace;
  font-size: 15px;
  background-image: url("../public/clock.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  padding-left: 1px;
  margin: 0 0 6px 0;
}

.record-details > .record-stats > ul > li:nth-of-type(3)::before {
  content: "";
  display: inline-block;
  width: 15px;
  margin-right: 4px;
}

.record-details > p {
  font-size: 15px;
  margin-bottom: 10px;
}
.record-stats > p {
  font-size: 15px;
  margin-bottom: 10px;
}

.record-details > p > a {
  color: #007bff;
}

ul > li {
  list-style: square;
  margin: 0 0 0px 20px;
  padding-left: 5;
  line-height: 1.65;
  font-size: 15px;
}

ul > li > p > a {
  color: #007bff;
}

ul > li > a {
  color: #007bff;
}

.record-details > p > a:hover {
  color: #007bff;
  text-decoration: underline;
}

.record.stats > h1 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 1.2;
  color: #343a40;
  font-weight: 400;
}

.record.details > ul > li {
  list-style: lower-greek;
  margin: 0 0 7px 35px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.65;
}

#0bu8zl > .lpCategoryName {
  font-family: "Playfair Display", serif !important;
  font-size: 2rem;
  line-height: 1.2;
  color: #343a40;
  font-weight: 500;
  padding-top: 25px;
}

#0bu8zl > .lpListName {
  font-family: "Playfair Display", serif !important;
  font-size: 2rem;
  line-height: 1.2;
  color: #343a40;
  font-weight: 500;
  padding-top: 25px;
}

/* Icon Loader Spinner */
.lds-dual-ring {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgb(255, 0, 0) transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add Comment Spinner */
.add-comment-spinner {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding-left: 2px;
}
.add-comment-spinner:after {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: add-comment-spinner 1.2s linear infinite;
}
@keyframes add-comment-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#attributions > p > p > a {
  color: #007bff !important;
}
